[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "aliyun"

[dev-packages]
pytest = "*"

[packages]
flask = "*"
requests = "*"
flask-cors = "*"

[requires]
python_version = "3.6"
